.question-elements {
  margin: 15px;
  max-height: 100%;
}

.answers {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 10px;
}

.answer-items {
  border: solid 1px red;
  border-radius: 20px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 0 20px;
}
