.App {
  background-color: #f5f7fb;
  height: 750px;
  max-width: 750px;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  color: #4d5b9e;
}
/* .home-screen {
  background-image: url("./img/headBackgound.png");
  background-repeat: no-repeat;
  background-position: center;
  
} */
button {
  background-color: #4d5b9e;
  font-size: 20px;
  font-weight: 600;
  color: white;
  height: 50px;
  width: 250px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}
button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.opening-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}
.questions-screen {
  max-height: 650px;
}
