.App {
  background-color: #f5f7fb;
  height: 650px;
  max-width: 650px;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  color: #4d5b9e;
}

button {
  background-color: #4d5b9e;
  color: white;
  height: 25px;
  width: 200px;
}
