.App {
  background-color: #f5f7fb;
  height: 750px;
  max-width: 750px;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  color: #4d5b9e;
}

button {
  background-color: #4d5b9e;
  font-size: 20px;
  font-weight: 600;
  color: white;
  height: 50px;
  width: 250px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}
button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.opening-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}
.answer--container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  height: 50px;
}
.question--answers {
  text-align: center;
  padding: 10px 5px 0px 5px;
  border: solid 1px #4d5b9e;
  border-radius: 20px;
  cursor: pointer;
}
.question--answers:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
/* .chosen {
  background-color: #d6dbf5;
} */

.chosen {
  background-color: #d6dbf5;
}
.correct {
  background-color: lightgreen;
  border: 1px solid green;
  border-radius: 20px;
}

.incorrect {
  background-color: lightcoral;
  border: 1px solid red;
  border-radius: 1rem;
}
